* {
	font-size: 22px;
  line-height: 100%;
}

.calculator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display {
	border: 1px solid black;
	border-radius: 10px;
  height: 60px;
  padding: 0 10px;
  align-items: center;
}

button {
	cursor: pointer;
	width: 40px;
	height: 40px;

	margin: 0 3px;
}

div {
	margin: 10px 0;
}
